<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    <!--    <script src="sorttable.js"></script>-->
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>    
    <style type="text/css">
        body {        
            font-family: "Arial";
            font-size: 140%;
            background-image: url("img/fondo.jpg");
            
        }   
 
         a:hover {
          cursor:pointer;
         }
                     
        .tabla {  
            height: 200px !important;
            overflow: scroll;
        }
    </style>
    
    
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>

<title>Galileo</title>
</head>
<body>
    
<nav class="navbar navbar-default" style="background:#0B0B61">
  <div class="container-fluid">    
    <div class="navbar-header" >
        <a class="navbar-brand" style="color:white;">GALILEO</a>
    </div>
    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                                       
        <form  name="historico" class="navbar-form" action="/historico" method="post">        
            <ul class="nav navbar-nav">     
                <li><a onClick="historico.submit();" style="color:white">Informacion</a></li>
            </ul>        
        </form>
        <form name="perfil" class="navbar-form" action="/perfil" method="post">        
            <ul class="nav navbar-nav">     
                <li><a onClick="perfil.submit();" style="color:white">Perfil</a></li>
            </ul>        
        </form>             
        <form name="cerrarSesion" action="/cerrarSesion" method="post">
          <ul class="nav navbar-nav navbar-right">       
            <ul class="nav navbar-nav">     
                <li><a onClick="cerrarSesion.submit();" style="color:white">Cerrar sesión</a></li>
            </ul>            
          </ul>
        </form>                
    </div>  -->
    <div class="collapse navbar-collapse" > 
        
        <form  name="historico" action="/historico" class="navbar-form navbar-left" method="post" role="tag">                                
            <!--<a onClick="historico.submit();" style="color:white;text-align:center;">Informacion</a>                        -->
            <div class="form-group">
                <button id="historico" type="submit" class="btn btn-inverse">Informacion</button>    
            </div>            
        </form>        
        
        <form name="perfil" action="/perfil" class="navbar-form navbar-left" method="post" role="tag">                
            <!--<a onClick="perfil.submit();" style="color:white;text-align:center;">Perfil</a>            -->
            <div class="form-group">
            </div>
            <button id="perfil" type="submit" class="btn btn-inverse">Perfil</button>    

        </form>             
        
        <form class="navbar-form navbar-right" role="tag" method="post" name="cerrarSesion"  action="/cerrarSesion">
            <div class="form-group">
            </div>
            <button id="cerrarSesion" type="submit" class="btn btn-inverse">Cerrar sesión</button>    
  		  </form>            
        
        <!--<form name="cerrarSesion" action="/cerrarSesion" method="post">
          <ul class="nav navbar-nav navbar-right">       
            <ul class="nav navbar-nav">     
                <li><a onClick="cerrarSesion.submit();" style="color:white">Cerrar sesión</a></li>
            </ul>            
          </ul>
        </form>                -->
    </div>  
  </div>
</nav>
    
<br>
<div class="container">
<div class="row">

<div class="panel panel-default" style="width: 800px;min-width:100px;position:absolute;left: 50%; margin-left: -400px;" >
  <!-- Default panel contents -->
    <div class="panel-heading" style="font-family: Arial; font-size: 140%;text-align:center;background:#0B0B61;color:white;">Usuarios</div>
    <div class="tabla">
    <table class="table">
       <tr>
          <th>Nombre</th><th>Apellido</th><th>DNI</th><th>Email</th>
       </tr>
        
        
       <%     
        for (var i = 0; i < data.length ; i++) {         
        %>
        <tbody>
        <tr>
          <td><%= data[i].nombre %></td>
          <td><%= data[i].apellido %></td>
          <td><%= data[i].dni %></td>
          <td><%= data[i].email %></td>
        </tr>  
        </tbody>
       <% } %>  
        
    </table> 
    </div>
</div>        
</div>   
</div>   
    
<br>
<br>
      
<div class="panel panel-default" style="width: 800px;min-width:100px;position:absolute;left: 50%; margin-left: -400px;margin-top:18%" >
  <!-- Default panel contents -->
    <div class="panel-heading" style="font-family: Arial; font-size: 140%;text-align:center;background:#0B0B61;color:white;">Ingreso de usuarios - Historico</div>
    <div class="tabla">
    <table class="table">
       <tr>
          <th>Email</th><th>Fecha entrada</th><th>Fecha salida</th>
       </tr>

       <%     
        for (var i = (dataAuditoriaHistorico.length-1); i >= 0; i--)
         {         
        %>
        <tr>
          <td><%= dataAuditoriaHistorico[i].email %></td>
          <td><%= dataAuditoriaHistorico[i].fechaEntrada %></td>
          <td><%= dataAuditoriaHistorico[i].fechaSalida %></td>
        </tr>    
       <% } %>
    
    </table>    
    </div>  
</div>
    
<br>
<br>
      
<div class="panel panel-default" style="width: 800px;min-width:100px;position:absolute;left: 50%; margin-left: -400px;margin-top:36%" >
  <!-- Default panel contents -->
    <div class="panel-heading" style="font-family: Arial; font-size: 140%;text-align:center;background:#0B0B61;color:white;">Ingreso de usuarios - Actuales</div>
    <div class="tabla">
    <table class="table">
       <tr>
          <th>Email</th><th>Fecha entrada</th>
       </tr>

       <%     
        for (var i = 0; i < dataAuditoria.length; i++) {         
        %>
        <tr>
          <td><%= dataAuditoria[i].email %></td>
          <td><%= dataAuditoria[i].fechaEntrada %></td>
        </tr>    
       <% } %>
    
    </table>    
</div>  
</div>
    
</body>
</html>
